<?xml version='1.0' encoding='utf-8'?>
<widget id="my.first.app" version="1.0.0">
  <name>Cordova</name>
  <description>
    Cordova demos
  </description>
  <author email="dev@tabrisjs.com" href="https://tabrisjs.com">
    N. K.
  </author>
  <plugin name="cordova-plugin-camera" version="2.1.0" />
  <plugin name="cordova-plugin-dialogs" version="1.2.0" />
  <plugin name="phonegap-plugin-barcodescanner" version="4.1.0" />
  <plugin name="cordova-plugin-device-motion" version="1.2.0" />
  <plugin name="cordova-plugin-network-information" version="1.2.0" />
  <plugin name="cordova-plugin-x-toast" version="2.4.2" />
</widget>
